main{
    width: 800px;
    margin: auto;
    text-align: center;
    color: pink;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.fekete{
    background-color: black;
    
}
.feher{
    background-color:pink;
    box-shadow: 0 0 50px pink;
    border: inherit !important;
    border-color: transparent;
}
.jatekter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 7px;
}
.jatekter div{
    aspect-ratio: 1; /* oldlarány */
    border: 1px solid rgb(209, 157, 165);
    border-radius: 100px;
    font-size: 50px;
    cursor: grab;
    place-items: center;
   
}